.classpath
.project
.settings
target
*.log
.prefs
*.swp
*.swo
*.orig
core/.factorypath
diffsync.php
*.iml
.idea/
*.versionsBackup

core/src/test/resources/hibernate.properties
web-main/src/test/resources/hibernate.properties
web-rhodium/src/test/resources/hibernate.properties
